.letter{
    font-size: 10vw;
    border-radius: 0.2em;
    border: 1px solid #ffffff;
    width: 14vw;
    text-align: center;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    pointer-events: all;
    position: relative;
}

.letter p{
    position: absolute;
    font-size: 12px;
    bottom: 0;
    left: 0;
    color: gray;
    white-space: normal;
    text-align: left;
    background-color: #ffffff;
    margin: 0;
    padding: 12px;
    border-radius: inherit;
    z-index: 999;
    display: none;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    animation: none;
    pointer-events: none;
}
.letter p:empty{
    pointer-events: all;
}

.letter:hover p{
    display: block;
    animation: tooltip 300ms linear forwards;
}

@keyframes tooltip {
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    100%{
        transform: translateY(-14vw);
        opacity: 1;
    }
}