.letter{
    font-size: 10vw;
    border-radius: 0.2em;
    border: 1px solid #ffffff;
    width: 14vw;
    text-align: center;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    pointer-events: none;
    position: relative;
}

.letter p{
    pointer-events: none;
    position: absolute;
    font-size: 16px;
    top: 0;
    left: 0;
    color: red;
    white-space: normal;
    /* line-break: strict; */
}

.letter:has(p:empty){
    pointer-events: all;
}