header{
    display: flex;
    position: sticky;
    width: calc(100% - 80px);
    height: 120px;
    padding: 0 40px;
    align-items: center;
    top: 0;
    gap: 12px;
}
.logo{
    background-image: url(logo.svg);
    background-size: contain;
    flex-grow: 1;
    height: 100%;
    background-repeat: no-repeat;
}
button{
    height: fit-content;
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 8px 24px;
}
button:hover{
    background-color: #ffffff;
    color: #000000;
}