:root{
    /* --codeBG: #eeeeee;
    --codeText: #666666;
    --codeBold: #000000;
    --codeItalic: #b9b9b9;
    --codeStroke: #aaaaaa; */

    --codeBG: #333333;
    --codeText: #bbbbbb;
    --codeBold: #ffffff;
    --codeItalic: #666666;
    --codeStroke: #aaaaaa;
}
body{
    background-color: #000000;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
}
header{
    display: flex;
    position: sticky;
    width: 80%;
    height: 120px;
    padding: 0 10%;
    align-items: center;
    top: 0;
    gap: 12px;
    background-color: #000000cc;
    backdrop-filter: blur(2vmin);
    z-index: 999;
}
.logo{
    background-image: url(logo.svg);
    background-size: contain;
    flex-grow: 1;
    height: 100%;
    background-repeat: no-repeat;
}
button{
    height: fit-content;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #ffffff;
    border-radius: 8px;
    padding: 8px 24px;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
}
button.secondary{
    background-color: #cccccc;
    border-color: inherit;
}
button:hover{
    background-color: #000000;
    color: #ffffff;
}
button.secondary:hover{
    color: #999999;
}
button:active{
    background-color: #eeeeee;
}
h2{
    font-size: 2em;
    font-weight: 500;
}
h3{
    font-size: 1.5em;
    margin-bottom: 1em;
    margin-top: 2em;
}
a{
    outline-offset: -4px;
    outline: 4px solid transparent;
    transition: all 100ms ease-out;
}
a:focus-visible{
    outline: 4px solid skyblue;
    outline-offset: 2px;
    border-radius: 8px;
}
section{
    min-height: 100vh;
    width: 80%;
    padding: 40px 10%;
}
iframe{
    box-shadow: 0 0 0 2px #7e7e7e;
}
p{
    line-height: 1.5;
}
.license p{
    margin-bottom: 3em;
}
details{
    position: relative;
    border: 1px solid #555555;
    border-radius: 8px;
    padding: 24px;
    margin-bottom: 16px;
    line-height: 1.5;
}
details:hover summary, details:hover::after{
    opacity: 0.7;
}
details::after{
    content: '+';
    position: absolute;
    top: 0.5em;
    right: 0.75em;
    font-size: 2em;
    pointer-events: none;
    transition: transform 150ms ease-in-out 0s;
}
details[open]::after{
    transform: rotate(45deg);
}
pre{
    background-color: var(--codeBG);
    border-radius: 4px;
    padding: 16px;
}
code{
    background-color: var(--codeBG);
    border-radius: 4px;
    padding: 4px;
    font-family: 'Fira Mono', monospace;
    color: var(--codeText);
    line-height: 1.5;
    white-space: break-spaces;
}
pre code{
    padding: 0;
}
code b{
    font-weight: 700;
    color: var(--codeBold);
}
code i{
    color: var(--codeItalic);
}
code s{
    color: var(--codeStroke);
    font-size: 0.9em;
    text-decoration: none;
}
summary{
    cursor: pointer;
    font-size: 1.5em;
    user-select: none;
}
details > summary {
    list-style: none;
  }
  details > summary::-webkit-details-marker {
    display: none;
  }